* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

a {
  color: #673ab7;
  font-weight: 600;
  text-decoration: none;
}

